@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

* {
  z-index: 1;
}

.App {
  z-index: -999;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: aliceblue;
  background-color: #070606;
}

/* HEADER */

.section-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0px 150px;
}

.text-header {
  margin: 0px;
  font-size: 32px;
  font-weight: bold;
}

.icone-header {
  align-items: center;
  display: flex;
  gap: 26px;
}

/* HERO */
.hero-container {
  padding: 0px 150px;
  position: relative;
  z-index: 2;
}

.tour-eiffel {
  position: absolute;
  width: 795px;
  height: 720px;
  top: 0px;
  right: 0px;
  padding-right: 151px;
  z-index: -1;
}

.hero-text {
  font-size: 42px;
  line-height: 30px;
  padding: 110px 0px 5px 0px;
}

.underline-hero {
  text-decoration: underline;
}

.box-small-text {
  width: 434px;
}

.small-text {
  font-size: 17px;
}

.trait-hero {
  padding-top: 340px;
  width: 1360px;
}

/* MAIN */

.container-main {
  padding: 356px 150px 0px 150px;
}

.grid-framework {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 48px;
}

.text-hover:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.projet-button {
  display: flex;
  align-items: center;
  padding: 0px 150px;
}

.text-projet {
  padding-top: 156px;
  font-size: 72px;
}

/* .box-projet{
  transform: translate(10px, 74px);
} */

/* .button-projet {
  padding: 2px 30px 13px 14px;
  border: none;
  color: aliceblue;
  background: none;
  transform: translate(10px, 75px);
  border-bottom: 2px solid #4ee1a0;
  font-size: 16px;
} */

/* GRID CARD */

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
  padding: 80px 150px 615px 150px;
}

.image-site {
  border-radius: 10px;
  width: 509px;
  height: 346px;
  object-fit: cover;
}

.image-site:hover {
  transform: scale(1.1);
  transition: 500ms;
}

.title {
  font-size: 14px;
}

/* FOOTER */
.footer-container {
  height: auto;
  background-color: #242424;
  margin: 0px 90px;
  padding: 70px 70px 0px 70px;
}

.title-footer {
  font-size: 72px;
  margin: 0px;
}

.footer-text {
  width: 429px;
  font-size: 21px;
}

.footer-header {
  display: flex;
  background-color: #242424;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

input {
  border: none;
  padding: 2px 24px 20px 24px;
  border-bottom: 1px solid white;
  background: none;
}

textarea {
  border: none;
  padding: 2px 24px 20px 24px;
  border-bottom: 1px solid white;
  background: none;
}

.section-footer-header {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  background-color: #242424;
  padding: 0px 165px;
  margin: 0px;
}

.trait-footer {
  margin: 0px 118px;
  transform: translate(-2px, 0px);
}

.text-footer-header {
  width: 158px;
  font-size: 32px;
  font-weight: bold;
}

.cercle {
  transform: translate(-69px, -62px);
}

.trait-footer {
  margin: 0px 0px;
}

.div-footer {
  display: flex;
  justify-content: space-between;
}

.form {
  right: 0px;
  width: 445px;
}

.trait-form-two {
  transform: translate(4px, 200px);
}

.text-form {
  padding: 0px 24px 9px 24px;
}

.box-name {
  margin-bottom: 33px;
}

.button-projet-footer {
  padding: 2px 30px 13px 14px;
  margin-top: 32px;
  float: inline-end;
  border: none;
  color: aliceblue;
  background: none;
  border-bottom: 2px solid #4ee1a0;
  font-size: 16px;
}

.text-input {
  color: azure;
}
